# 2 keys & 2 projects (or more) in Github
# https://yooniks9.medium.com/github-error-key-already-in-use-27dcb3d37382

Host github.com
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

# git clone me.github.com:vando/foo.git
Host me.github.com github.com
  HostName github.com
  User git
  IdentityFile %d/.ssh/id_rsa
  IdentitiesOnly yes

# git clone work.github.com:employer/bar.git
Host work.github.com github.com
  HostName github.com
  User git
  IdentityFile %d/.ssh/id_rsa-work
  IdentitiesOnly yes
